body {
}

.drop {
    position: absolute;
    width: 90%;
    margin-left: 3%;
    margin-right: 3%;
    /*box-shadow:  5px 10px 8px grey;*/
    box-shadow: 1px 1px 10px 1px #252932;
    margin-bottom: 5%;
    padding: 1%;
    overflow: auto;
}
.drop2 {
    position: inherit;
    margin-right: 3%;
    /*box-shadow:  5px 10px 8px grey;*/
    box-shadow: 1px 1px 10px 1px #252932;
    margin-bottom: 5%;
    padding: 1%;
    overflow: auto;
}
.drop1 {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    /*box-shadow:  5px 10px 8px grey;*/
    box-shadow: 1px 1px 10px 1px #252932;
    margin-bottom: 10%;
    padding: 2.5%;
    overflow: auto;
}
input[type=text], select, textarea, input[type=number] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: none;
    text-align: justify;
    background-color: ghostwhite;
}

    .btnnuevo{
        padding-top:1em;
    }

    input[type=text]:focus, input[type=email]:focus, select:focus, textarea:focus, input[type=number]:focus {
        background-color: white;
        box-shadow: 1px 1px 10px 1px #252932;
    }

input[type=submit] {
    background-color: #252932;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        cursor:pointer;
        background-color: #f1f1f1;
        color: #252932;
        Border: solid 1px #252932;
    }

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 1%;
    table-layout: auto;
    text-align:center;
}

table2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

.title {
    font-family: Lato,Verdana;
    font-size: 12px;
    margin-left: -15%
}

.dropbtn {
    /*background-color: #252932;*/
    background-color: cornflowerblue;
    color: white;
    padding: 8px;
    font-size: 12px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            cursor:pointer;
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    cursor:pointer;
    background-color: #f1f1f1;
    color: #252932;
}

.dropdown:active .dropbtn {
    background-color: #f1f1f1;
    color: #252932;
}

@media screen and (max-width: 600px) {
    .dropbtn,
    .dropbtn, .dropdown, .dropdown-content {
        position: unset;
    }

    .dropbtn,
    .dropbtn, .dropdown, .dropdown-content {
        float: none;
    }
}

.fun {
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    .fun td, .fun th {
        border: 1px solid #ddd;
        padding: 4px;
        text-align: justify;
        background-color: white;
        white-space: nowrap;
    }

    .fun tr:nth-child(even) {
        background-color: white;
    }

    .fun tr:hover {
        background-color: azure;
    }

    .fun th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #252932;
        color: white;
    }

        .fun th a {
            color: white;
            text-decoration: none;
        }

            .fun th a:visited {
                text-decoration: none;
                color: white;
            }

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

    .switch input {
        opacity: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #064577;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

#sirvebutton {
    display: grid;
    justify-items: center;
    align-items: center;
    
}

#funciona {
    color: white;
    padding-bottom: 5px;
}