* {
    margin: 0;
    padding: 0;
}

body {
    background: #fffffa;
}

#headerone {
    z-index: 2;
}

#contenone {
    z-index: 0;
}

header {
    width: 100%;
    margin-bottom: 20px;
}

.wrapper {
    width: 95%;
    max-width: 100%;
    margin: auto;
}

header .logo {
    width: 190px;
    padding-top: 3px;
    float: left;
}

header .logo1 {
    width: 190px;
    padding-top: 20px;
    float: left;
}

header nav {
    float: right;
    line-height: 80px;
}

.boton {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background: #252932;
    color: #fff;
    padding: 5px 20px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    top: 0px;
    left: 0px;
}

    .boton:hover {
        background: #f56f3a;
        color: #ffffff;
        border-radius: 50px;
    }

.header2 {
    position: fixed;
    height: 75px;
    z-index: 1;
    background: #0264d6;
}

    .header2 .logo {
        line-height: 115px;
        width: 150px;
        position: center;
    }

    .header2 .logo1 {
        line-height: 115px;
        width: 150px;
        position: center;
    }

    .header2 nav {
        line-height: 70px;
    }

.contenido {
    padding-top: 10px;
}

    .contenido p {
        margin-bottom: 1em;
    }

@media screen and (max-width:600px) {
    header .logo,
    header nav {
        text-align: center;
        line-height: 50%;
        font-size: 9px;
    }

    .header2 span {
        display: none;
    }

    .header2 .logo {
        line-height: 100;
        width: 120px;
    }

    .dropbtn,
    .dropbtn, .dropdown, .dropdown-content {
        position: fixed;
    }

    .dropbtn,
    .dropbtn, .dropdown, .dropdown-content {
        float: right;
    }
}

.etiqueta {
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.contenido2 {
    padding-top: 80px;
}

.contenido3 {
    padding-top: 10px;
}

.btnactivo {
    background: #f56f3a;
    color: #ffffff;
    border-radius: 50px;
}

#Btn_Atras {
    background-color: #5DADE2;
    width: auto;
    height: 50px;
}

#Btn_Salir {
    width: auto;
    height: 50px;
    background-color: #5DADE2;
}

#Btn_Atras:hover {
    background: #5D6D7E;
    color: #ffffff;
}

#Btn_Salir:hover {
    background: #5D6D7E;
    color: #ffffff;
}





#txthorasD {
    position: absolute;
    width: 250px;
    left: 43%;
}

#txtacciones {
    position: absolute;
    width: 250px;
    left: 43%;
}
#datepicker {
    position: absolute;
    width: 250px;
    left: 43%;

}

#acciones {
    position: absolute;
    left: 28%;
    
}

#horasD {
    position: absolute;
    left: 30%;
    
}

#fechad {
    position: absolute;
    left: 37%;
    
}

#txtobservaciones {
    width: 75%;
    
}

#txtfallaencontrada {
    width: 75%;
    
}

#LBL_CANTIDAD_REFACCION {
    position: absolute;
    left: 38%;
    padding-bottom: 5px;
}

#textboxnumrefaccion {
    position: absolute;
    left: 45%;
    padding-bottom:5px;
}

#textboxdescrefaccion {
    position: absolute;
    width: 290px;
    left: 45%;
    padding-bottom: 5px;
}

#Label8 {
    position: absolute;
    left: 36%;
    padding-bottom: 5px;
}

#Btn_Ir_A_Servicios {
    width: auto;
    height: 50px;
    margin-right: 20px;
    background-color: #5DADE2;
}


    #Btn_Ir_A_Servicios:hover {
        background: #5D6D7E;
        color: #ffffff;
    }
