.form-style-2 {
    
    padding: 1px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
    align-content: center;
}

.form-style-2-heading {
    font-weight: bold;
    font-style: italic;
    font-family: Arial;
    border-bottom: 4px solid #ddd;
    margin-bottom: auto;
    font: 11px;
    padding-bottom: 1px;
}

.form-style-2 label {
    display: block;
    margin: 0px 0px 15px 0px;
}

    .form-style-2 label > span {
        width: 110px;
        font-weight: bold;
        float: left;
        padding-top: inherit;
        padding-right: 5px;
    }

.form-style-2 span.required {
    color: red;
}

.form-style-2 .tel-number-field {
    width: 55px;
    text-align: center;
}

.form-style-2 .mercado {
    text-align: left;
}

.form-style-2 .giro {
    width: 120px;
    text-align: justify;
}

.form-style-2 .nota {
    text-align: left;
}

.form-style-2 input.input-field, .form-style-2 .select-field .mercado {
    width: 60%;
}

.form-style-2 input.input-field,
.form-style-2 .tel-number-field, .mercado, .nota, .giro,
.form-style-2 .textarea-field,
.form-style-2 .select-field {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 1px;
    outline: none;
}

    .form-style-2 .input-field:focus,
    .form-style-2 .tel-number-field:focus,
    .form-style-2 .textarea-field:focus,
    .form-style-2 .select-field:focus {
        border: 1px solid #0C0;
    }

.form-style-2 .textarea-field {
    height: 100px;
    width: 55%;
}

.form-style-2 input[type=submit],
.form-style-2 input[type=button] {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #007AFF;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.otroboton {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #007AFF;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 1px 1px 4px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover {
    background: #4472C4;
    color: #fff;
}


.centrar {
    position:relative;
    margin: auto;
    width: 60%;
    padding: 10px;
    max-width: 1000px;
}
.centrar2 {
    position: relative;
    margin: auto;
    padding: 10px;
    max-width: 1000px;
}

.seccion-nuevo-servicio {
    position: relative;
    margin: auto;
    padding: 10px;
    max-width: 1000px;
}

.tablasize {
    font-size: 12px;
}


.gridViewHeader {
    background-color: Navy;
    color: blue;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: expression(<%= gv.HeaderRow %>.offsetParent.scrollTop-2);
}

.Outer {
    width: 100%;
    text-align: right;
    padding-bottom: 20px;
    padding-right: -30px;
}
.Origin {
    display: inline-block;
    margin: 0 auto;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
    padding:-2px;
}

.footercl {
    position: fixed;
    left: 0;
    bottom: 2px;
    width: 100%;
    background-color: #252932;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 1em;
}

.reportclass {
    width: 100%;
    height: auto;
}

.reportclass2 {
    width: 100%;
    height: 100%;
}

#sectionreport {
    position: relative;
    width: 95%;
    margin: auto;
    height: 100%;
    /*box-shadow:  5px 10px 8px grey;*/
    box-shadow: 1px 1px 10px 1px #252932;
    overflow: auto;
    top: 0px;
    left: 0px;
}

#sectionreport2 {
    position: relative;
    width: 95%;
    /*margin: auto;*/
    height: 550px;
    box-shadow: 1px 1px 10px 1px #252932;
    overflow: auto;
    top: 4px;
    left: 0px;
}

#divfirma {
    position: relative;
    margin: auto;
    width: 95%;
    padding: 10px;
    justify-content: center;
}

#areafirma {
    box-shadow: 1px 1px 10px 1px #252932;
    overflow: hidden;
    margin: auto;
}

